.storefile-container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.storefile-container>:nth-child(1){
    width: 20%;
    z-index: 1;
    flex-basis: 20%;
    margin-right: 15px;
    margin-left: 32px;
}

.search-box{
    box-shadow:2px 3px 5px 3px rgb(86, 90, 92);
    border-radius: 5px;
    min-height: 32vh;
    height: fit-content;
    transform: scale(1.04);
    min-width: 300px;
    /* width: 19%; */
    left: 0%;
    position: relative;
    margin-top: 1%;
    padding:2% 1%;
}






.cardfield{
    margin-left:40px;
    display: flex;
    flex-wrap: wrap;
}

.searchbox{
    height: 4vh;
    position: relative;
    top: 4vh;
    left: 1vw;
    border-radius: 10px;
    border: 2px solid rgb(124, 121, 115);
    box-shadow: 1px 1px 20px rgb(89, 94, 96);
    width: 15vw;
}

.searchbox::placeholder{
    font-size:medium;
    text-transform: initial;
}

input {
    font-size: 23px;
}




@media (max-width:1000px){
    .search-box{
        display: none;
    }
    .storefile-container{
        justify-content: center;
        align-items: center;
    }

    .cardfield{
        width: 100%;
        flex-basis: 100%;
        align-items: center;
        text-align: center;
    }
}
@media (max-width:978px) {
    .cardfield a{
        width: 100%;
    }
    .cardfield{
        padding-left: 5%;
    }
}