.mainbody{
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contactimage{
    height: 94vh;
    width: 100%;
    filter: brightness(100%) invert(0%) sepia(10%) saturate(98%) hue-rotate(346deg) contrast(96%);
 opacity: 0.7;
 position: absolute;
}

.lefthead{
    background: rgb(15, 122, 230);
    width: 40%;
    height: 94vh;
}

.form{
    background: rgb(15, 122, 230);
    width: 60%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formbody{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    width: 35vw;
    gap: 2rem;
    border: 4px solid rgb(194, 124, 124);
    border-radius: 20px;
 background: rgba(232, 227, 227, 0.382);
}

.formbody h1{
    text-transform: uppercase;
    font-size: 80px;
    color: rgb(117, 113, 246);
    -webkit-text-stroke: 1px #a7d997;
}

.input1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 23vw;
}

input,textarea{
    border-radius: 12px;
    border: 2px solid orange;
}
input::placeholder{
    position: relative;
 left: 12px;
}

textarea::placeholder{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

button{
    width: 6vw;
    height: 5vh;
    border: 2px solid orange;
    border-radius: 20px;
}

.c_1{
    display: flex;
    flex-direction: row;
    height: 40%;
    z-index: 999;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.c_head{
    font-size: 40px;
    background: linear-gradient(to right,#ec1e07,#d81a08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr{
    color: rgb(231, 7, 7);
}

.para{
    display:inline-flexbox;
    overflow: hidden;
    align-items: center;
    position: relative;
    justify-content: center;
    left: 10%;
    color: whitesmoke;
}

.emails {
    height: 4vh;
    width: 4vw;
}

.phones{
    width: 4vw;
    height: 4vh;
}

.connect{
    height: 14vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3rem;
    padding-top: 9%;
    padding-left: 18%;
}

.emailround{
    display: flex;
    flex-direction: row;
}

.phoneround{
    display: flex;
    flex-direction: row;
    width:54%;
}

.paratext{
    padding-left: 23%;
    color: #000000ac;
    z-index: 9;
    font-size: large;
}