.h-wrapper{
    background: var(--black);
    color: white;
}
.h-container{
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    
}

.h-menu{
    gap: 2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}
.menu-icon{
    cursor: pointer;
    display: none;
}
@media (max-width:768px){
    .menu-icon{
        display: block;
        color: var(--black);
        background: var(--secondary);
        border-radius: 5px;
        box-shadow: 4px 4px 4px  rgba(0,0,0,0.7);
    }
    
    .h-container{
        position: fixed;
        z-index: 100;
    }
    .h-menu{
        color:var(--black);
        position: fixed;
        top: 3rem;
        right: -100%;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        z-index: 10;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0 4px 4px rgba(0,0,0,0.5);
        transition: all 300ms ease-in;
    }
}