.carousal{
  background-color: var(--black);
    opacity: 1;
    overflow: hidden;
    padding-top: 1.5rem ;
    padding-bottom: 2.5rem;
    
}

.heading_c{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 11vh;
    
    position: relative;
}

.title1{
    font-size: x-large;
    color: rgb(126, 173, 163);
}
.title2{
 font-size: 50px;
 -webkit-text-stroke: 3px #a7a7a7;
text-transform: uppercase; 
color: #252103;
}

.carousal_c{
    
    display: flex;
    
}

.carousalsec{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
}

.slider{
    height: 37vh;
    width: 40vw;
    overflow: hidden;
    position: relative;
    left: 5vw;
    rotate: -1deg;
    box-shadow: 1px 1px 50px lightblue;
    cursor: pointer;
}

.deactivated {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .activated {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .left-arrow{
    position: relative;
    left: 2vw;
    width: 5vw;
    height: 6vh;
    cursor: pointer;
    color: rgb(98, 121, 141);
  }

  .right-arrow{
    position: relative;
    left: 8vw;
    cursor: pointer;
    width: 5vw;
    height: 6vh;
    color: rgb(104, 129, 151);
  }


.Imagesec{
    width: 20%;
}

.imagecar{
    height: 45vh;
    border-radius: 30px;
    position: relative;
   left: 4vw;
   top: 2vh;
   rotate: -10deg;
   box-shadow: 1px 1px 50px rgb(83, 85, 86);

}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.proj-imgbx img{
  height:37vh ;
  width: 100%;
}
.proj-imgbx::before {
  content: "";
  background-image: linear-gradient(to right, #47b294 0%, #5a6ad2 51%, #69c06d 100%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  color: #121212;
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 50%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx span {
  font-weight: 400;
  letter-spacing: 0.8px;
}

.card{
  display: flex;
  flex-direction: column;
}

.carddata{
  height: 16vh;
  width: 24vw;
  z-index: 9999;
 font-family: cursive;
 border-radius: 12px;
 
}

@media (max-width:1140px) {
  .carousal_c{
    flex-direction: column;
  }
  .carousalsec{
    width: 100%;
    padding-top: 10vh;
  }
  .slider{
    width: 80%;
  }
  .cardimage{
    width: 90%;
    height: 100%;
  }
  .Imagesec{
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

}