.loginmain {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.loginimage {
    height: 72vh;
    flex-basis: 20%;
    padding-left: 1%;
    border-top-left-radius: 59px;
    border-bottom-left-radius: 40px;
}
.loginimage>image{
    height: 100%;
}
.linktext{
    margin-left: 0.3rem;
}
.linktext:hover{
    color: orange;
    
}
.loginform-container {
    
    height: 80vh;
    padding: 0.8rem;
    width: 420px;
    position: relative;
    background: url('./login-back.webp');
    border-radius: 7px;
    box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.8);
    color: aliceblue;
    min-width: 289px;
}
.login-input{
    position: relative;
}

.login-input>input{
    padding-left: 40px;
    width: 100%;
    font-size: 17px;
    color: rgba(0,0,0,0.6);
}

.input-image{
    position: absolute;
    left: 2%;
    color: rgba(0,0,0,0.5);
    width: 10px;
    top: 35%;
}
.loginhead {
    height: 25%;
    /* position: relative; */
}

.sign {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    align-items: center;
    justify-content: center;
    display: flex;
}

.account {
    font-size: 18px;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    display: flex;
}

.formcontent {
    /* height: 75%; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 25px;
    gap: 0.8rem;
    position: absolute;
    left: 10%;
}

input::placeholder {
    font-size: 17px;
}

.loginname {
    padding: 0.4rem;
    outline: none;
}

.pass {
    padding: 0.4rem;
    outline: none;
}



.signin:hover {
    transform: scale(1.01);
}

.lowertext {
    position: absolute;
    font-size: large;
    top: 75%;
    left: 25%;
}

.loginicons {
    /* height: 9vh; */
    width: 99%;
    position: relative;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.9rem;
}

.google {
    border: 2px solid rgb(177, 177, 189);
    border-radius: 13px;
    box-shadow: 1px 1px 10px rgb(164, 168, 170);
    width: 100%;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 0.4rem;
    gap: 1.8rem;
}

.logog {
    height: 100%;
    width: 18%;
}

.facebook {
    border: 2px solid rgb(177, 177, 189);
    border-radius: 13px;
    box-shadow: 1px 1px 10px rgb(164, 168, 170);
    width: 100%;
    height: 35px;
    position: relative;
   background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    
}

@media (max-width:700px) {
    .loginimage {
        width: 2%;
    }
    .log-image{
        display: none;
    }
    .loginform {
        width: 80%;
    }
}